:root {
    --vp-c-accent: #217dff;
    --vp-c-accent-bg: #217dff;
    --vp-c-accent-hover: #217dff;
    --content-width:1200px;
}
  


ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    color: #217dff;
    text-decoration: none;
}
a.sidebar-link:hover{
    color: #217dff !important;
}

.vp-hero-image{
    margin: 3rem auto 1.5rem;
    max-height:140px !important;
}

.secondary{
    --vp-c-accent-text: var( --vp-c-accent )
}

.vp-footer{
    margin-top: 5rem;
}


.vp-navbar{
    border-bottom:none;
    background: rgba(255, 255, 255, 0.5); /* 半透明背景 */
    box-shadow: 0 2px 6px 0 rgba(31, 64, 135, 0.127);
    backdrop-filter: blur(10px); /* 毛玻璃核心 */
}