:root {
    --vp-c-accent: #217dff !important;
    --vp-c-accent-bg: #217dff !important;
    --vp-c-accent-hover: #217dff !important;
    --content-width:1200px !important;
}
  

ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    color: #217dff  !important;
    text-decoration: none !important;
}
a.sidebar-link:hover{
    color: #217dff !important;
}

.vp-hero-image{
    margin: 3rem auto 1.5rem ;
    max-height:140px !important;
}

.secondary{
    --vp-c-accent-text: var( --vp-c-accent ) !important;
}

.vp-footer{
    margin-top: 5rem;
}


.vp-navbar{
    border-bottom:none !important;;
    background: rgba(255, 255, 255, 0.5) !important;; 
    box-shadow: 0 2px 6px 0 rgba(31, 64, 135, 0.127);
    backdrop-filter: blur(10px); /* 毛玻璃核心 */
}